<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="PersistenceFolderPath" value="C:/Persistence"/>
        <add key="PersistenceObjectIdFileName" value="ObjectId.txt"/>
        <add key="PersistenceClassIdFileName" value="ClassId.txt"/>
    </appSettings>
</configuration>